.search-sorting{
    margin-top: 150px
}
.container{
    margin: 0 20% 0 20%;
    font-family: Arial;

}
.search-sorting {
    display: grid;
    grid-template-areas:
            "search sorting ";
    /*grid-template-columns: 9fr 3fr ;*/

}
.checkbox {
    display: none;
}
